
xamarin/FaceDetector.OpenCVXamarin/FaceDetector.OpenCVXamarin/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Xml.dll.mdb
xamarin/FaceDetector.OpenCVXamarin/FaceDetector.OpenCVXamarin.Binding/bin
xamarin/FaceDetector.OpenCVXamarin/FaceDetector.OpenCVXamarin.Binding/obj
xamarin/FaceDetector.OpenCVXamarin/FaceDetector.OpenCVXamarin/bin
xamarin/FaceDetector.OpenCVXamarin/FaceDetector.OpenCVXamarin/obj
iOS/FaceDetector/FaceDetector.xcodeproj/project.xcworkspace/xcuserdata/trinnguyen.xcuserdatad
